 .tui-pagination .tui-first,
 .tui-pagination .tui-next {
     margin-right: 4px;
 }

 .tui-pagination .tui-first,
 .tui-pagination .tui-prev,
 .tui-pagination .tui-next,
 .tui-pagination .tui-last {
     width: 40px;
     height: 40px;
     background-color: var(--light-green);
     border-color: rgba(0, 0, 0, 0);
     /* border-radius: 40px; */
 }

 .tui-pagination .tui-is-disabled {
     background-color: #050505
 }

 .tui-pagination .tui-page-btn {
     border-radius: 40px;
 }

 .tui-pagination .tui-page-btn.tui-is-selected:hover,
 .tui-pagination .tui-page-btn.tui-is-selected:focus {
     background-color: var(--light-green);
     border-color: var(--light-green);
 }

 .tui-pagination .tui-page-btn.tui-is-selected {
     background-color: var(--light-green);
     border-color: var(--light-green);
 }

 .tui-pagination .tui-page-btn.tui-is-selected,
 .tui-pagination .tui-page-btn.current-page,
 .tui-pagination .tui-prev-is-ellip {
     margin-right: 10px;
 }

 .tui-pagination .tui-first-child.tui-is-selected {
     border-left: 1px solid var(--light-green);
 }

 .tui-pagination .tui-last-child.tui-is-selected {
     border-right: 1px solid var(--light-green);
 }